{% extends 'my_app/home.html' %}

{% block head_block %}

{% endblock %}

{% block body_block %}
<div class="new_banner5">
    <div class="container">
        <h1 style="margin-top: 3rem;">Skill Questions:</h1>
        <br>
        <div class="row">
            <div class="col-lg-8 col-md-4 col-sm-6">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="" id="user">
                    <label for="">How many years of experience do you have?</label>
                    <select class="form-control" name="answer1" id="select" required>
                        <option selected disabled>----------</option>
                        <option>1-3 years</option>
                        <option>3-5 years</option>
                        <option>5-10 years</option>
                        <option>More than 10 years</option>
                    </select>
                    <label for="" style="margin-top: 12px;">In what industries have you worked?</label>
                    <select class="form-control" name="answer2" id="select" required>
                        <option selected disabled>----------</option>
                        <option>Technology</option>
                        <option>Healthcare</option>
                        <option>Finance</option>
                        <option>Education</option>
                        <option>Retail</option>
                        <option>Other</option>
                    </select>
                    <label for="" style="margin-top: 12px;">Are you more comfortable working as a Frontend Developer or Backend Developer?</label>
                    <select class="form-control" name="answer3" id="newbox" required>
                        <option selected disabled>----------</option>
                        <option id="Frontend">Frontend</option>
                        <option id="Backend">Backend</option>
                        <option>Frontend and Backend</option>
                    </select>
                    <div class="Frontend box" style="margin-top: 14px;">
                        <label>Which frontend framework are you comfortable with?</label>
                        <select class="form-control" id="newbox" name="answer4" required>
                            <option selected disabled>----------</option>
                            <option>React</option>
                            <option>Angular</option>
                            <option>Vue</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="Frontend box" style="margin-top: 14px;">
                        <label>Which frontend tools are you comfortable with?</label>
                        <select class="form-control" id="newbox" name="answer5" required>
                            <option selected disabled>----------</option>
                            <option>NPM/Yarn</option>
                            <option>Webpack</option>
                            <option>Grunt/Gulp</option>
                            <option>Babel</option>
                        </select>
                    </div>
                    <div class="Backend box" style="margin-top: 14px;">
                        <label>Which frontend tools are you comfortable with?</label>
                        <select class="form-control" id="newbox" name="answer5" required>
                            <option selected disabled>----------</option>
                            <option>Node.js</option>
                            <option>Django</option>
                            <option>Ruby on Rails</option>
                            <option>Spring Boot</option>
                            <option>ASP.NET</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="Backend box" style="margin-top: 14px;">
                        <label>Which programming languages are you familiar with?</label>
                        <select class="form-control" id="newbox" name="answer5" required>
                            <option selected disabled>----------</option>
                            <option>Java</option>
                            <option>Python</option>
                            <option>Ruby</option>
                            <option>PHP</option>
                            <option>C#</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <br>
                    <input type="submit" class="button1" value="Confirm">
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div class="jumbotron" id="jumbotron1">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <p>Additional links</p>
          <br>
          <p>About us</p>
          <p>Terms and conditions</p>
          <p>Privacy policy</p>
          <p>News</p>
          <p>Contact us</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <p>Intact</p>
          <br>
          <p>
            Imperdiet parturient eleifend scelerisque natoque parturient rutrum mus eros dis ullamcorper a ullamcorper.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron" id="jumbotron2">
    <div class="container">
      <p>Copyright {{ date_posted }} Access. All rights reserved.</p>
    </div>
  </div>
<script>
    var my_name = "{{ user.id }}";
    document.getElementById('user').value = my_name;
    $(document).ready(function(){
        $("#newbox").change(function(){
            $(this).find("option:selected").each(function(){
                var optionValue = $(this).attr("id");
                if(optionValue){
                    $(".box").not("." + optionValue).hide();
                    $("." + optionValue).show();
                } else{
                    $(".box").hide();
                }
            });
        }).change();
    })
</script>
{% endblock %}